body{margin: 0}
*{box-sizing: border-box}
#clock{width: 80vh; height: 80vh; border: 5px solid #000; margin:10vh auto; border-radius: 50%; position: relative;} 
#clock .hourHand{ 
    width: 4px;
    height: 32vh;
    border-bottom:16vh solid transparent; 
    border-top:16vh solid #000; 
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)  rotate(270deg);
    z-index: 2;
}
#clock .minHand{ 
    width: 4px; 
    height: 44vh; 
    border-bottom:22vh solid transparent; 
    border-top:22vh solid #000; 
    display: block; 
    position: absolute; 
    left:50%; 
    top: 50%; 
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}
#clock .secHand{ 
    width: 4px;
    height: 70vh;
    border-bottom:35vh solid transparent; 
    border-top:35vh solid #f00; 
    display: block;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 4;
}
#clock .centerPoint {
    width: 15px;
    height: 15px;
    background-color: red;
    border: 2px solid #000;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
}